@{
    ViewData["Title"] = "Panel administratora";
}

<h1>Panel administratora</h1>

<ul>
    <li>
        <a asp-controller="Halls" asp-action="Index">
            Zarządzanie salami
        </a>
    </li>
    <li>
        <a asp-controller="Movies" asp-action="Index">
            Zarządzanie filmami
        </a>
    </li>
    <li>
        <a asp-controller="Seances" asp-action="Index">
            Zarządzanie seansami
        </a>
    </li>
</ul>
